<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <div data-controller="chat">
    <%= text_field_tag :message %>
    <button id="send_message" data-action="chat#sendMessage">
      Send
    </button>
    <p data-target="chat.messages">
    </p>
  </div>
</div>
